#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 15px 15px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Homepage styling------------------ */

.profile-image {
  border-radius: 50%; /* Makes the image round */
  width: 250px; /* Adjust the size as needed */
  height: 250px; /* Adjust the size as needed */
  border: 2px solid #000; /* Example border */
  /* Add other styles as needed */
}

.home-content {
  /* padding: 36px; */
}

.text-on-image {
  /* padding: 30px; */
}

.homePage {
  margin-top: 30px;
}

.my-jumbotron-bg {
  position: relative; /* Needed for absolute positioning of the pseudo-element */
  /* background-image: url("/coding.jpg"); */
  background-size: cover;
  background-position: center;
  z-index: 1; /* Ensures background is under the content */
}

/* .my-jumbotron-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2d94967f; /* Example: black tint with 50% opacity */
/* z-index: 2; Ensures the overlay is above the background but below the content */
/* } */

/* Ensure that content in the jumbotron is positioned above the overlay */
.my-jumbotron-bg > * {
  position: relative;
  z-index: 3;
}

.lead {
  color: #ffb703 !important;
}
.display-4 {
  color: #ffb703;
}

.text-on-image {
  position: relative;
  color: white; /* Adjust text color as needed */
  /* Add more styling as needed */
}

.location {
  font-size: small;
}

.homePage p {
  color: #ffb703;
}

/* Portfolio page styling----------------------------------- */

#project-images {
  max-width: 100%;
  height: auto;
  display: block;
}

.card {
  margin-top: 10px;
  background-color: #9ad0c2;
}

.list-group-item {
  background-color: #9ad0c2;
  border-color: #9ad0c2;
}

.card-text {
  color: #265073;
}

.card-title,
h5 {
  color: #265073;
}

h4 {
  color: #265073;
  padding: 25px;
}

.card-link {
  color: #2d9596;
}

.projectsPage {
  margin-top: 52px;
}

/* ---------navbar */

.navbar {
  background-color: transparent !important;
  color: white;
}

.navbar-brand {
  color: white;
}

.navbar-toggler {
  border-color: #ecf4d6;
}

.offcanvas-header {
  background-color: none !important;
}

.offcanvas-body {
  background-color: #ecf4d6;
}

/* -contact page-------- */
.contact-info p a {
  color: #2d9596;
}

.contact-info p,
h2 {
  color: #265073;
}

.nav-link {
  color: #265073;
}

.test {
  color: #ecf4d6;
  color: #9ad0c2;
  color: #2d9596;
  color: #265073;
}
